<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <servlet-name>it.avbo.dilaxia.api.ApplicationConfig</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>it.avbo.dilaxia.api.ApplicationConfig</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>it.avbo.dilaxia.api.AppServletContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>it.avbo.dilaxia.api.services.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllSportsServlet</display-name>
    <servlet-name>GetAllSportsServlet</servlet-name>
    <servlet-class>it.avbo.dilaxia.api.servlets.sports.GetAllSportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllSportsServlet</servlet-name>
    <url-pattern>/GetAllSportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSportServlet</display-name>
    <servlet-name>AddSportServlet</servlet-name>
    <servlet-class>it.avbo.dilaxia.api.servlets.sports.AddSportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSportServlet</servlet-name>
    <url-pattern>/AddSportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeamServlet</display-name>
    <servlet-name>TeamServlet</servlet-name>
    <servlet-class>it.avbo.dilaxia.api.servlets.teams.TeamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeamServlet</servlet-name>
    <url-pattern>/TeamServlet</url-pattern>
  </servlet-mapping>
</web-app>